/* Formulaire */

form {
  margin: 0;

  input[type=text] {
    display: none;
  }

  > div {
    padding: 0 0 0 $marg;
    border-bottom: $border-width $border-style $color-border;
    display: flex;
    overflow: hidden;
  }

  ,
  > div:last-child {
    border-bottom: none;
    display: flex;
    flex-flow: column;
    flex: 1;
  }

  > div:last-child {
    margin: 0 0 0 $marg;
    padding: 0;
    border-left: $border-width $border-style $color-border;
  }

  textarea {
    width: 100%;
    min-height: calc((#{$line-height}em * 4) + (#{$gout} * 2));
    margin: 0;
    padding: $gout;
    border-width: 0 0 0 $border-width;
    border-style: $border-style;
    border-color: $color-border;
    border-radius: 0;
    outline: none;
    background: transparent;
    color: $color-txt;
    font-size: $fontsize-1;
    font-weight: $font-weight;
    line-height: #{$line-height}em;
    letter-spacing: 0;
    transition: background $transition;

    &::placeholder,
    &::-moz-placeholder {
      //color: rgba($color-txt, $opacity-1);
      color: red;
    }

    &:focus {
      background: $color-border;
    }
  }

  input[type=submit] {
    margin: 0;
    padding: $gout;
    background: transparent;
    border: none;
    align-self: flex-start;
    color: rgba($color-txt, $opacity-1);
    font-size: $fontsize-1;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
    cursor: pointer;
    outline: none;
    transition: color $transition;
    animation: li_event #{$animation-duration - 500}ms $cubic-bezier 500ms backwards;

    &:hover,
    &:focus {
      color: $color-txt;
    }

    &:active {
      color: rgba($color-txt, $opacity-2);
    }
  }
}
