/* Formulaire */

form {
  margin: 0;

  input[type=text] {
    display: none;
  }

  > div {
    padding: 0 0 0 $marg;
    border-bottom: $border $color2;
    display: flex;
    overflow: hidden;
  }

  ,
  > div:last-child {
    border-bottom: none;
    display: flex;
    flex-flow: column;
    flex: 1;
  }

  > div:last-child {
    margin: 0 0 0 $marg;
    padding: 0;
    border-left: $border $color2;
  }

  textarea {
    width: 100%;
    min-height: calc((#{$lineHeight}em * 4) + (#{$gout} * 2));
    margin: 0;
    padding: $gout;
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: $color2;
    border-radius: 0;
    outline: none;
    background: transparent;
    color: $color1;
    font-size: $fontSize_1;
    font-weight: 600;
    line-height: #{$lineHeight}em;
    letter-spacing: 0;
    transition: background $transition;

    &:focus {
      background: $color2;
    }
  }

  input[type=submit] {
    margin: 0;
    padding: $gout;
    background: transparent;
    border: none;
    align-self: flex-start;
    color: rgba($color1, .75);
    font-size: $fontSize_1;
    font-weight: $fontWeight;
    letter-spacing: $letterSpacing;
    cursor: pointer;
    outline: none;
    transition: color $transition;
    animation: li_event #{$animationDuration}ms cubic-bezier(.25, .1, .25, 1) 500ms backwards;

    &:hover,
    &:focus {
      color: $color4;
    }

    &:active {
      color: $color2;
    }
  }
}
