/* Variables */

$color-txt: #111;
$color-border: #ededed;
$color-background: #fefefe;

$opacity-1: .6;
$opacity-2: .25;

$marg: 10vw;
//$gout: 2.75vw;
$gout: 3vh;

$border-width: 1px;
$border-style: solid;

$filter-blur: .5rem;

$font-family: "Helvetica Neue", arial, sans-serif;
$fontsize-1: 2rem;
$fontsize-2: 3.25rem;
$font-weight: 600;
$letter-spacing: .077rem;
$line-height: 1.25;

$cubic-bezier: cubic-bezier(.165, .84, .44, 1);
$transition: 200ms cubic-bezier(.25, .1, .25, 1);
$animation-duration: 1250;

$max-device-width: 'max-device-width: 700px';

$nav-list: 4;
$twitter: #1da1f2;
$linkedin: #0077b5;
$github: #333;
$strava: #fc4c02;
