/* Variables */

$color-txt: #444;
$color-border: #ededed;
$color-background: #fefefe;

$opacity-1: .6;
$opacity-2: .25;

$marg: 10vw;
$gout: 3.1vw;

$border-width: 1px;
$border-style: solid;

$filter-blur: .75rem;

$fontsize-1: 2rem;
$fontsize-2: 3.25rem;
$font-weight: 600;
$letter-spacing: .077rem;
$line-height: 1.25;

$cubic-bezier: cubic-bezier(.25, .1, .25, 1);
$transition: 200ms $cubic-bezier;
$animation-duration: 1000;

$max-device-width: 'max-device-width: 700px';
$max-device-width: 'max-width: 700px';

$nav-list: 4;
$twitter: #1da1f2;
$linkedin: #0077b5;
$github: #333;
$strava: #fc4c02;
