/* Article */

article {
  margin: 0 0 0 $marg;
  border-left: $border-width $border-style $color-border;

  p {
    margin: 0;
    padding: $gout;
    font-size: $fontsize-1;
    color: $color-txt;
  }

  a {
    color: rgba($color-txt, $opacity-1);

    &:hover,
    &:focus {
      color: $color-txt;
    }

    &:active {
      color: rgba($color-txt, $opacity-2);
    }
  }
}
