/* Header */

header {
  padding: 0 0 0 $marg;
  border-bottom: $border-width $border-style $color-border;
  display: flex;
  overflow: hidden;

  > * {
    border-left: $border-width $border-style $color-border;
  }

  a {
    padding: $gout;
    color: $color-txt;

    h1,
    h2 {
      margin: 0;
      padding: 0;
      font-size: $fontsize-2;
      font-weight: $font-weight;
      letter-spacing: $letter-spacing;
      transition: color $transition;
    }

    h1 {
      animation: header_event #{$animation-duration}ms $cubic-bezier 0ms backwards;
    }

    h2 {
      animation: header_event #{$animation-duration - 150}ms $cubic-bezier 150ms backwards;
    }

    &:focus {

      h1,
      h2 {
        color: rgba($color-txt, $opacity-1);
      }
    }
  }
}

@keyframes header_event {

  0% {
    opacity: 0;
    filter: blur($filter-blur);
    transform: translate3d(0, calc(#{$marg} + 100px), 0);
  }

  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translate3d(0, 0, 0);
  }
}
