/* Navigation */

nav {
  padding: 0 0 0 $marg;
  border-bottom: $border-width $border-style $color-border;

  > * {
    border-left: $border-width $border-style $color-border;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: calc(#{$gout} / 2) 0;
    display: flex;
    flex-flow: column;
    overflow: hidden;

    li {
      align-self: flex-start;

      a,
      label {
        display: block;
        padding: calc(#{$gout} / 2) $gout;
        font-size: $fontsize-1;
        letter-spacing: $letter-spacing;
      }

      a {
        color: rgba($color-txt, $opacity-1);

        &[href*='twitter'] {

          &:hover,
          &:focus {
            color: $twitter;
          }

          &:active {
            color: rgba($twitter, $opacity-2);
          }

        }

        &[href*='linkedin'] {

          &:hover,
          &:focus {
            color: $linkedin;
          }

          &:active {
            color: rgba($linkedin, $opacity-2);
          }
        }

        &[href*='github'] {

          &:hover,
          &:focus {
            color: $github;
          }

          &:active {
            color: rgba($github, $opacity-2);
          }
        }

        &[href*='strava'] {

          &:hover,
          &:focus {
            color: $strava;
          }

          &:active {
            color: rgba($strava, $opacity-2);
          }
        }
      }

      label {
        color: rgba($color-txt, $opacity-1);
        cursor: pointer;
        transition: color $transition;

        &:hover {
          color: $color-txt;
        }

        &:active {
          color: rgba($color-txt, $opacity-2);
        }
      }

      @for $i from 0 through $nav-list {

        &:nth-child(#{$i + 1}) {
          animation: li_event #{$animation-duration - (100 * $i)}ms $cubic-bezier #{100 * $i}ms backwards;
          @include reduce-motion;
        }
      }
    }
  }
}

@keyframes li_event {

  0% {
    opacity: 0;
    filter: blur($filter-blur);
    transform: translate3d(calc(-#{$gout} * 2), 0, 0);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    filter: blur(0);
    transform: translate3d(0, 0, 0);
  }
}
