/* Navigation */

nav {
  padding: 0 0 0 $marg;
  border-bottom: $borderWidth $borderStyle $color2;

  > * {
    border-left: $borderWidth $borderStyle $color2;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: calc(#{$gout} / 2) 0;
    display: flex;
    flex-flow: column;
    overflow: hidden;

    li {
      align-self: flex-start;

      a,
      label {
        display: block;
        padding: calc(#{$gout} / 2) $gout;
        font-size: $fontSize_1;
        letter-spacing: $letterSpacing;
      }

      a {
        color: rgba($color1, $varColor1);

        &[href*='twitter'] {

          &:hover,
          &:focus {
            color: $twitter;
          }

          &:active {
            color: rgba($twitter, $varColor2);
          }

        }

        &[href*='linkedin'] {

          &:hover,
          &:focus {
            color: $linkedin;
          }

          &:active {
            color: rgba($linkedin, $varColor2);
          }
        }

        &[href*='github'] {

          &:hover,
          &:focus {
            color: $github;
          }

          &:active {
            color: rgba($github, $varColor2);
          }
        }

        &[href*='strava'] {

          &:hover,
          &:focus {
            color: $strava;
          }

          &:active {
            color: rgba($strava, $varColor2);
          }
        }
      }

      label {
        color: rgba($color1, $varColor1);
        cursor: pointer;
        transition: color $transition;

        &:hover {
          color: $color1;
        }

        &:active {
          color: rgba($color1, $varColor2);
        }
      }

      @for $i from 0 through $hubList {

        &:nth-child(#{$i + 1}) {
          animation: li_event #{$animationDuration - (100 * $i)}ms $cubic-bezier #{100 * $i}ms backwards;
        }
      }
    }
  }
}

@keyframes li_event {

  0% {
    opacity: 0;
    filter: blur($filterBlur);
    transform: translateX(calc(-#{$marg} + -100px));
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}
