/* Reset */

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font: $fontWeight 100%/1.25  "Helvetica Neue", "Calibri Light", Roboto, sans-serif;

  /*@media (#{$maxDeviceWith}) {
    font-size: 30px;
  }*/
}
