/* Reset */

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font: $font-weight 100%/1.25  "Helvetica Neue", "Calibri Light", Roboto, sans-serif;

  @media (#{$max-device-width}) {
    font-size: 30px;
  }
}
