/* Keyframes */

@keyframes header_event {
  0% {
    opacity: 0;
    filter: blur($filterBlur);
    transform: translateY(calc(#{$marg} + 100px));
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

@keyframes li_event {
  0% {
    opacity: 0;
    filter: blur($filterBlur);
    transform: translateX(calc(-#{$marg} + -100px));
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}
